body {
    font-family:  Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: blanchedalmond;
    color: aliceblue;
    padding: 1rem;
}
header h1 {
    margin-bottom: 10px;
}
nav {
    background-color: #333;
    width: 50%;
    width: 100%;
    border-radius: 10px;
}
nav ul{
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    gap: 1rem;
}
nav a {
    text-decoration: none;
    color: wheat;
    padding: 10px 20px;
    border-radius: 8px;

}
nav a:hover {
    background-color: #222;
}
main {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}
.contenido-main {
    flex: 3;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
}
aside {
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}
.galeria img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.4s ease-in-out
}
.galeria img:hover {
    transform: scale(1.05);
}
.tarjeta {
    background-color: #e0e0e0;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}
footer {
    background-color: #222;
    color: azure;
    text-align: center;
    padding: 1rem;
}
@media (max-width: 768px) {
    nav ul {
    flex-direction: column;
    align-items: flex-start;
    }
    main {
        flex-direction: column;
    }
    aside {
        order: -1;
    }
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px){
    .galeria {
        grid-template-columns: 1fr;
    }
}