body {
    font-family: arial, Arial, Helvetica, sans-serif;
    margin : 0;
    padding: 0;
    background-color: aliceblue;
}
header {
    background-color: gray;
    color: aliceblue;
    padding: 10pc 20px;
    text-align: center;
}
nav {
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.main{
    flex: 3;
    background-color: #fff;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sidebar {
    flex: 1;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    .main {
        margin-bottom: 10px;
        margin-right: 0;
    }
    footer {
        padding: 0;
    }
}
@media (max-width: 480px){
    header{
        font-size: 16px;
        color: rgb(235, 143, 143);
    }
    nav a{
        padding: 7px 14px;
        font-size: 13px;
    }
    .main, .sidebar {
        padding: 13px; 
        font-size: 12px;
    }
    footer {
        font-size: 12px;
    }
}